<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>new recipe form</title>
</head>
<body>
	<form method="POST">
		<input type="text" name="name" placeholder="A title called name" required>
		<input type="text" name="photo" accept="url" placeholder="photo url" required>
		<input type="text" name="ingredients" placeholder="Ingredient" required>
		<input type="text" name="ingredients" placeholder="Ingredient">
		<input type="text" name="steps" placeholder="Step" required>
		<input type="text" name="steps" placeholder="Step">
		<input type=submit>
	</form>
</body>
</html>